# Candidate Database
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DATABASE=hr_recruitment

# Interview Database
INTERVIEW_POSTGRES_HOST=localhost
INTERVIEW_POSTGRES_PORT=5432
INTERVIEW_POSTGRES_USER=postgres
INTERVIEW_POSTGRES_PASSWORD=postgres
INTERVIEW_POSTGRES_DATABASE=hr_interview
